/*Imports tailwind css*/
@import "tailwindcss";

/*Defines the root properties - global variables*/
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/*Sets the theme variables for the project - taken from tailwindcss*/
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/*Dark mode settings*/
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/*Uses the varaibles background and foreground to set the background and text color of the body*/
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
